<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import router from "@/router";
import { mdiHeartOutline, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FancyButton><v-icon :icon="mdiHeartOutline" />LoveME</FancyButton>
        <template v-slot:tail>Tail</template>
      </v-col>
      <FancyButton>
        <v-icon :icon="mdiCursorDefaultClickOutline" />ClickMe
        <template #tail>My Tail</template>
      </FancyButton>
    </v-row>
  </v-container>
</template>
