<script setup lang="ts"></script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="434" rounded="0">
          <v-img
            height="100%"
            cover
            src="https://learn.g2.com/hubfs/What_is_Information_Technology.jpg"
          >
            <v-avatar color="grey" size="150" rounded="0">
              <v-img
                cover
                src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/305770648_2178978568927255_8746366158862513670_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=4CqZ0ePtBI8AX-uoPsc&tn=WltoN2AYt5Xx88WH&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfC_G3sJagRw-tq1NxOTi_6kDeCQNcfhrAl_-wnJAwyMFQ&oe=63A38B69"
              ></v-img>
            </v-avatar>
            <v-list-item
              class="text-white"
              title="Chutiphong Palanon"
              subtitle="Computer Science"
            ></v-list-item>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>ระดับการศึกษา</th>
              <th>ชื่อสถาบันศึกษา</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ประถมศึกษา</td>
              <td>โรงเรียนวัฒนดรุณวิทย์</td>
              <td></td>
            </tr>
            <tr>
              <td>มัธยมศึกษา</td>
              <td>โรงเรียนชลราษฎรอำรุง</td>
            </tr>
            <tr>
              <td>ปริญญาตรี</td>
              <td>มหาวิทยาลัยบูรพา</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          class="mx-auto"
          width="500"
          title="สิ่งที่สนใจ"
          text="Software Developer, Programmer,การเงินการลงทุน"
        ></v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
